.mainContainer{
      background-size: cover;
      width: 100%;
      height: 695px;
      background-repeat: no-repeat;
      background-image: url('https://img.freepik.com/premium-photo/dark-leather-workspace-office-gadget_67155-1926.jpg?size=626&ext=jpg&ga=GA1.1.735520172.1710806400&semt=ais');
}