.signupContainer{
    align-items: center;
    display: flex;
    /* justify-content: center; */
    position: absolute;
    /* margin: 0px 59px; */
    /* top: 0; */
    /* top: 30%, */
    background-size: cover;
    padding: 0px 70px;
    width: 100%;
    height: 695px;
    background-repeat: no-repeat;
    background-image: url('https://img.freepik.com/premium-photo/dark-leather-workspace-office-gadget_67155-1926.jpg?size=626&ext=jpg&ga=GA1.1.735520172.1710806400&semt=ais');
}
.radioButton{
  padding: 28px 0px;
  gap: 12.5rem !important;
}
.next{
    float: right;
    /* left: 169px;
    top: 10px; */
}
.form{
  background-color: azure;
  padding:10px 12px;
  width: 140% !important;
  border-width: medium;
  border-radius: 10px;
}
/* .label{
  margin-bottom: 8px;
} */
.inputBox{
  margin: 5px 5px;
  display: flex;
  flex-direction: column;
}
.input{
  margin: 10px 0px;
}
